<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lab7___ADO.NET.Properties.Settings.qlhslinqConnectionString"
            connectionString="Data Source=DESKTOP-3U4I9FI\SQLEXPRESS;Initial Catalog=qlhslinq;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lab7___ADO.NET.Properties.Settings.QLHOCSINHConnectionString"
            connectionString="Data Source=DESKTOP-B0GT31Q\MSSQLServer1;Initial Catalog=QLHOCSINH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lab7___ADO.NET.Properties.Settings.QLHOCSINHConnectionString1"
            connectionString="Data Source=DESKTOP-3U4I9FI\SQLEXPRESS;Initial Catalog=QLHOCSINH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lab7___ADO.NET.Properties.Settings.QLHOCSINHConnectionString2"
            connectionString="Data Source=MSI\MYL;Initial Catalog=QLHOCSINH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>